* {
  box-sizing: border-box;
}

body {
  background: url('../public/images/pattern-background-desktop.svg'), hsl(225, 100%, 94%);
  background-repeat: no-repeat;
  background-size: contain;
}

#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 390px;
  height: 590px;
  display: flex;
  flex-direction: column;
  border-radius: 1.5em;
  background-color: #ffffff;
}

.heroImage {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 2em;
  text-align: center;
  font-family: Red Hat Display;
}

.title {
  color: #000000;
  font-weight: 1000;
  margin-bottom: unset;
  margin-top: unset;
  font-size: x-large;
}

.description {
  color: hsl(224, 23%, 55%);
  font-weight: 600;
}

.priceSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: hsl(225, 100%, 98%);
  padding: 1em;
  border-radius: 1em;
  gap: 1.5em;
}

.price {
  display: flex;
  flex-direction: column;
}

.priceTitle {
  color: black;
  font-weight: 900;
}

.subscription {
  color: hsl(224, 23%, 55%);
  font-weight: 600;
}

.changeText {
  color: hsl(245, 75%, 52%);
  margin-left: auto;
  text-decoration: underline;
  font-weight: 900;
  font-size: 0.9em;
  cursor: pointer;
}

.changeText:hover {
  color: hsl(224, 23%, 55%);
  text-decoration: none;
}

.btn {
    width: 100%;
    background-color: hsl(245, 75%, 52%);
    border: none;
    vertical-align: middle;
  
    border-radius: 0.8em;
    margin-top: 1.5em;
    padding: 1.2em;
    cursor: pointer;
    transition: 0.3s background-color ease;
}

.btnText {
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: 600;

}

.btn:hover {
  background-color: hsl(224, 23%, 55%)
}

.cancelText {
  color: hsl(224, 23%, 55%);
  font-weight: 600;
  cursor: pointer;
}

.cancelText:hover {
  color: black;
}

@media ( max-width: 450px) {
  .card {
    width: 90%;
  }
}